ADF_Bronze/ARMTemplateForFactory.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string",
      "metadata": "Data Factory name",
      "defaultValue": "azureproject-uk-datafactory"
    },
    "datalakeStorage_accountKey": {
      "type": "secureString",
      "metadata": "Secure string for 'accountKey' of 'datalakeStorage'"
    },
    "datalakeStorage_properties_typeProperties_url": {
      "type": "string",
      "defaultValue": "https://azureprojectdatalakeuk.dfs.core.windows.net/"
    },
    "HttplinkedService_properties_typeProperties_url": {
      "type": "string",
      "defaultValue": "https://raw.githubusercontent.com"
    }
  },
  "variables": {
    "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
  },
  "resources": [
    {
      "name": "[concat(parameters('factoryName'), '/GitToRaw')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "CopyRawData",
            "type": "Copy",
            "dependsOn": [],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "source": {
                "type": "DelimitedTextSource",
                "storeSettings": {
                  "type": "HttpReadSettings",
                  "requestMethod": "GET"
                },
                "formatSettings": {
                  "type": "DelimitedTextReadSettings"
                }
              },
              "sink": {
                "type": "DelimitedTextSink",
                "storeSettings": {
                  "type": "AzureBlobFSWriteSettings"
                },
                "formatSettings": {
                  "type": "DelimitedTextWriteSettings",
                  "quoteAllText": true,
                  "fileExtension": ".txt"
                }
              },
              "enableStaging": false,
              "translator": {
                "type": "TabularTranslator",
                "typeConversion": true,
                "typeConversionSettings": {
                  "allowDataTruncation": true,
                  "treatBooleanAsNumber": false
                }
              }
            },
            "inputs": [
              {
                "referenceName": "ds_http",
                "type": "DatasetReference",
                "parameters": {}
              }
            ],
            "outputs": [
              {
                "referenceName": "ds_bronze",
                "type": "DatasetReference",
                "parameters": {}
              }
            ]
          }
        ],
        "policy": {
          "elapsedTimeMetric": {}
        },
        "annotations": [],
        "lastPublishTime": "2026-01-26T16:09:16Z"
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/datasets/ds_http')]",
        "[concat(variables('factoryId'), '/datasets/ds_bronze')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/DynamicGitToRaw')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "ForEachGit",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "LookupGit",
                "dependencyConditions": ["Succeeded"]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "items": {
                "value": "@activity('LookupGit').output.value",
                "type": "Expression"
              },
              "isSequential": true,
              "activities": [
                {
                  "name": "DynamicCopy",
                  "type": "Copy",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "source": {
                      "type": "DelimitedTextSource",
                      "storeSettings": {
                        "type": "HttpReadSettings",
                        "requestMethod": "GET"
                      },
                      "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                      }
                    },
                    "sink": {
                      "type": "DelimitedTextSink",
                      "storeSettings": {
                        "type": "AzureBlobFSWriteSettings"
                      },
                      "formatSettings": {
                        "type": "DelimitedTextWriteSettings",
                        "quoteAllText": true,
                        "fileExtension": ".txt"
                      }
                    },
                    "enableStaging": false,
                    "translator": {
                      "type": "TabularTranslator",
                      "typeConversion": true,
                      "typeConversionSettings": {
                        "allowDataTruncation": true,
                        "treatBooleanAsNumber": false
                      }
                    }
                  },
                  "inputs": [
                    {
                      "referenceName": "ds_git_dynamic",
                      "type": "DatasetReference",
                      "parameters": {
                        "p_rel_url": {
                          "value": "@item().p_rel_url",
                          "type": "Expression"
                        }
                      }
                    }
                  ],
                  "outputs": [
                    {
                      "referenceName": "ds_sink_dynamic",
                      "type": "DatasetReference",
                      "parameters": {
                        "p_sink_folder": {
                          "value": "@item().p_sink_folder",
                          "type": "Expression"
                        },
                        "p_fileName_sink": {
                          "value": "@item().p_fileName_sink",
                          "type": "Expression"
                        }
                      }
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "LookupGit",
            "type": "Lookup",
            "dependsOn": [],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "source": {
                "type": "JsonSource",
                "storeSettings": {
                  "type": "AzureBlobFSReadSettings",
                  "recursive": true,
                  "enablePartitionDiscovery": false
                },
                "formatSettings": {
                  "type": "JsonReadSettings"
                }
              },
              "dataset": {
                "referenceName": "ds_git_parameters",
                "type": "DatasetReference",
                "parameters": {}
              },
              "firstRowOnly": false
            }
          }
        ],
        "policy": {
          "elapsedTimeMetric": {}
        },
        "annotations": [],
        "lastPublishTime": "2026-01-27T03:28:23Z"
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/datasets/ds_git_parameters')]",
        "[concat(variables('factoryId'), '/datasets/ds_git_dynamic')]",
        "[concat(variables('factoryId'), '/datasets/ds_sink_dynamic')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/ds_bronze')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "properties": {
        "linkedServiceName": {
          "referenceName": "datalakeStorage",
          "type": "LinkedServiceReference"
        },
        "annotations": [],
        "type": "DelimitedText",
        "typeProperties": {
          "location": {
            "type": "AzureBlobFSLocation",
            "fileName": "products.csv",
            "folderPath": "products",
            "fileSystem": "bronze"
          },
          "columnDelimiter": ",",
          "escapeChar": "\\",
          "firstRowAsHeader": true,
          "quoteChar": "\""
        },
        "schema": []
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/datalakeStorage')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/ds_http')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "properties": {
        "linkedServiceName": {
          "referenceName": "HttplinkedService",
          "type": "LinkedServiceReference"
        },
        "annotations": [],
        "type": "DelimitedText",
        "typeProperties": {
          "location": {
            "type": "HttpServerLocation",
            "relativeUrl": "Adventure-Works-Data-Engineering-Project/refs/heads/main/Data/AdventureWorks_Products.csv"
          },
          "columnDelimiter": ",",
          "escapeChar": "\\",
          "firstRowAsHeader": true,
          "quoteChar": "\""
        },
        "schema": []
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/HttplinkedService')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/ds_sink_dynamic')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "properties": {
        "linkedServiceName": {
          "referenceName": "datalakeStorage",
          "type": "LinkedServiceReference"
        },
        "parameters": {
          "p_sink_folder": {
            "type": "String"
          },
          "p_fileName_sink": {
            "type": "String"
          }
        },
        "annotations": [],
        "type": "DelimitedText",
        "typeProperties": {
          "location": {
            "type": "AzureBlobFSLocation",
            "fileName": {
              "value": "@dataset().p_fileName_sink",
              "type": "Expression"
            },
            "folderPath": {
              "value": "@dataset().p_sink_folder",
              "type": "Expression"
            },
            "fileSystem": "bronze"
          },
          "columnDelimiter": ",",
          "escapeChar": "\\",
          "firstRowAsHeader": true,
          "quoteChar": "\""
        },
        "schema": []
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/datalakeStorage')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/ds_git_dynamic')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "properties": {
        "linkedServiceName": {
          "referenceName": "HttplinkedService",
          "type": "LinkedServiceReference"
        },
        "parameters": {
          "p_rel_url": {
            "type": "String"
          }
        },
        "annotations": [],
        "type": "DelimitedText",
        "typeProperties": {
          "location": {
            "type": "HttpServerLocation",
            "relativeUrl": {
              "value": "@dataset().p_rel_url",
              "type": "Expression"
            }
          },
          "columnDelimiter": ",",
          "escapeChar": "\\",
          "firstRowAsHeader": true,
          "quoteChar": "\""
        },
        "schema": []
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/HttplinkedService')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/ds_git_parameters')]",
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "properties": {
        "linkedServiceName": {
          "referenceName": "datalakeStorage",
          "type": "LinkedServiceReference"
        },
        "annotations": [],
        "type": "Json",
        "typeProperties": {
          "location": {
            "type": "AzureBlobFSLocation",
            "fileName": "git.json",
            "fileSystem": "parameters"
          }
        },
        "schema": {
          "type": "object",
          "properties": {
            "p_rel_url": {
              "type": "string"
            },
            "p_sink_folder": {
              "type": "string"
            },
            "p_fileName_sink": {
              "type": "string"
            }
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/datalakeStorage')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/datalakeStorage')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "type": "AzureBlobFS",
        "typeProperties": {
          "url": "[parameters('datalakeStorage_properties_typeProperties_url')]",
          "accountKey": {
            "type": "SecureString",
            "value": "[parameters('datalakeStorage_accountKey')]"
          }
        }
      },
      "dependsOn": []
    },
    {
      "name": "[concat(parameters('factoryName'), '/HttplinkedService')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "type": "HttpServer",
        "typeProperties": {
          "url": "[parameters('HttplinkedService_properties_typeProperties_url')]",
          "enableServerCertificateValidation": true,
          "authenticationType": "Anonymous"
        }
      },
      "dependsOn": []
    }
  ]
}
